div.tooltip-donut {
     position: absolute;
     text-align: center;
     padding: .5rem;
     background: #FFFFFF;
     color: #313639;
     border: 1px solid #313639;
     border-radius: 8px;
     pointer-events: none;
     font-size: 1.3rem;
}

div.legend {
  padding: .5rem;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: inline-block;
}

#legend-world {
  background: #3399ff;
}

#legend-nl {
  background: lightblue;
}

span {
  padding-left: 5px;
  font-size: 17px;
}

svg {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
